{% extends "base.html" %}

{% block title %}Info{% endblock %}

{% block content %}
<h1>IoT3 Eksamensprojekt - Sundhed IoMT</h1>

<h2>Projektets Baggrund</h2>
<p>
Ældre patienter og personer med kroniske sygdomme er ofte afhængige af medicin, som skal tages på bestemte tidspunkter for at sikre en effektiv behandling. 
Dog viser undersøgelser, at mange glemmer at tage deres medicin til tiden, hvilket kan føre til alvorlige sundhedsproblemer, forringet livskvalitet og øgede omkostninger i sundhedssystemet.
</p>
<p>
Dette IoT-baserede medicin-påmindelsessystem adresserer dette problem ved at skabe en løsning, som kan overvåge medicinindtag og påminde patienten, 
hvis de glemmer at tage deres medicin.
</p>

<h2>Formål og Mål</h2>

<h3>Formål</h3>
<p>
Projektets formål er at forbedre patientsikkerheden og -compliance ved at udvikle et medicin-påmindelsessystem, som hjælper patienter med at tage deres medicin til tiden og 
på den måde sikrer en mere effektiv behandling og reducerer risikoen for medicin-relaterede komplikationer.
</p>

<h3>Mål</h3>
<ul>
    <li>At udvikle et pålideligt og brugervenligt system, som overvåger medicinindtag og sender påmindelser til patienten.</li>
    <li>At sikre datasikkerhed og overholdelse af gældende lovgivning om databeskyttelse (GDPR).</li>
    <li>At implementere en visuel dataovervågning på en hjemmeside, som kan tilgås af både patienter og plejepersonale.</li>
    <li>At udføre tests for at måle, om systemet effektivt reducerer antallet af glemte medicindoser.</li>
</ul>

<p>Dette projekt er en del af IoT3 eksamensprojektet for 3. semester og fokuserer på at anvende Internet of Medical Things (IoMT) til at skabe smartere sundhedsløsninger.</p>
{% endblock %}
